form{
  margin: 20px;
}

label{
  display: block
}
input{
  margin-top: 20px;
  margin-left: 20px;
}
input[type="checkbox"]{
  margin-left: 0;
}

button{
  display: block;
  max-width: 200px;
  margin-top: 20px;
  padding: 10px 20px
}
span{
  color: red;
  font-size: 10px;
  margin-left: 10px;
}